[Unit]
Description=A server for streaming Motion-JPEG from a video capture device
After=network.target

[Service]
User=mjpg_streamer
ExecStart=/usr/local/bin/mjpg_streamer -i 'input_uvc.so -d /dev/%I -r 1280x720 -fps 30' -o 'output_http.so -w /usr/local/share/mjpg-streamer/www'

[Install]
WantedBy=multi-user.target
